@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.l-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.c-profile {
  width: 300px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_ {
    &figure {
      margin-bottom: 24px;
    }

    &image {
      width: 160px;
      height: 160px;
      border-radius: 80px;
      margin-bottom: 8px;
      text-align: center;
    }

    &caption {
      text-align: center;
    }

    &list {
      display: flex;
      flex-direction: row;
      width: 200px;
      margin-bottom: 8px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }

      li {
        margin-right: 8px;
      }

      li:not(:last-child) {
        margin-right: 16px;
      }

      &-dark {
        opacity: 0;
      }
    }

    &text {
      color: #FFF;
      text-align: center;
      padding-top: 12px;

      a {
        color: #FFF;
      }
    }
  }
}

.c-switch {
  position: absolute;
  top: 16;
  right: 16;
  opacity: 0.3;

  a {
    text-decoration: none;
  }
}

.darkMode {
  background-color: #111;
  color: #EEE;

      &caption {
      text-align: center;
    }
}